@model Evented.Web.EventVM

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>EventVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginsAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginsAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndsAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndsAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.joineeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.joineeLimit)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Event" asp-action="Join" class="btn btn-primary">Join</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
